.env

# ignore all python cache files
global-exclude __pycache__
*.pyc

# ignore memory json files
memories.json
response_history.json
thought_history.json
conversation_history.json
debug_data.json
debug_response.json
venv/
